<div class="max-w-3xl mx-auto bg-white p-6 rounded-xl shadow mt-8">
  <div class="flex space-x-6">
    <!-- Sidebar -->
    <%= render 'profiles/sidebar' %>

    <!-- Main Profile Content -->
    <div class="flex-1">
      <h3 class="text-xl font-semibold text-gray-800 mb-4">My Profile</h3>

      <% unless current_user.confirmed? %>
        <div class="my-4 text-yellow-600 p-4 bg-yellow-100 rounded-lg">
          Currently waiting for confirmation of the account. The admin will confirm your account soon.
        </div>
      <% end %>

      <div class="space-y-4 text-gray-700">
        <div class="flex justify-between">
          <span class="font-medium">Full Name:</span>
          <span><%= current_user.full_name %></span>
        </div>

        <div class="flex justify-between">
          <span class="font-medium">Email:</span>
          <span><%= current_user.email %></span>
        </div>

        <div class="flex justify-between">
          <span class="font-medium">Account Created:</span>
          <span><%= l(current_user.created_at, format: :long) %></span>
        </div>

        <% if current_user.confirmed? %>
          <div class="flex justify-between">
            <span class="font-medium">Account Confirmed:</span>
            <span><%= l(current_user.confirmed_at, format: :long) %></span>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
