<div class="bg-white p-6 rounded-xl shadow">
  <div class="flex gap-x-6 items-center mb-6">
    <h1 class="font-bold text-4xl">Книги</h1>
    <%= link_to "Новая книга", new_admin_book_path, class: "rounded-md px-3.5 py-2.5 bg-blue-600 hover:bg-blue-500 text-white block font-medium" %>
  </div>

  <%= form_with url: admin_books_path, method: :get, local: true, class: "mb-4" do |f| %>
    <div class="flex gap-2">
      <%= f.text_field :query, value: params[:query], placeholder: "Искать книги ...", class: "w-full px-3 py-2 border rounded-md shadow-sm focus:ring focus:border-indigo-300" %>
      <%= f.submit "Поиск", class: "px-4 py-2 bg-indigo-600 text-white rounded-md hover:bg-indigo-700" %>
    </div>
  <% end %>

  <table class="min-w-full table-auto border-gray-200 rounded-lg overflow-hidden shadow-sm">
    <thead class="bg-gray-100 font-semibold text-gray-700">
      <tr>
        <th class="px-4 py-2 text-left">Изображение</th>
        <th class="px-4 py-2 text-left">Название</th>
        <th class="px-4 py-2 text-left">Автор</th>
        <th class="px-4 py-2 text-left">Жанр</th>
        <th class="px-4 py-2 text-left"></th>
      </tr>
    </thead>
    <tbody class="divide-y divide-gray-200">
      <% @books.each do |book| %>
        <tr>
          <td class="px-6 py-4">
            <% if book.avatar.attached? %>
              <%= picture_tag(
                  url_for(book.avatar),
                  image: { class: "rounded shadow-md object-cover h-[80px] w-[50px]" }
                )%>
            <% else %>
              <span class="text-sm text-gray-400 italic">Нет изображения</span>
            <% end %>
          </td>

          <td class="px-6 py-4 font-medium text-gray-800"><%= book.name %></td>
          <td class="px-6 py-4 text-gray-600">
            <%= link_to book.author.full_name, admin_author_path(book.author), class: "text-indigo-600 hover:underline mr-2" %>
          </td>
          <td class="px-6 py-4 text-gray-600">
            <%= link_to book.genre.name, admin_genre_path(book.genre), class: "text-indigo-600 hover:underline mr-2" %>
          </td>
          <td class="px-4 py-4 text-right">
            <%= link_to "Показать", admin_book_path(book), class: "text-indigo-600 hover:underline mr-2" %>
            <%= link_to "Редактировать", edit_admin_book_path(book), class: "text-indigo-600 hover:underline" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>