<% content_for :title, "Showing book" %>

<div class="md:w-2/3 w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-md inline-block" id="notice"><%= notice %></p>
  <% end %>

  <h1 class="font-bold text-4xl">Showing book</h1>

  <div class="p-4">
    <% if @book.avatar.attached? %>
      <%= picture_tag(
        url_for(@book.avatar),
        image: { class: "rounded-md object-cover h-[160px] w-[100px]" }
      )%>
    <% end %>
  </div>

  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= @book.name %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Description:</strong>
    <%= @book.description %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Avatar:</strong>
    <%= link_to @book.avatar.filename, @book.avatar if @book.avatar.attached? %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Genre:</strong>
    <%= link_to @book.genre.name, admin_genre_path(@book.genre) %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Author:</strong>
    <%= link_to @book.author.full_name, admin_author_path(@book.author) %>
  </p>

  <%= link_to "Edit this book", edit_admin_book_path(@book), class: "mt-2 rounded-md px-3.5 py-2.5 bg-gray-100 hover:bg-gray-50 inline-block font-medium" %>
  <%= link_to "Back to books", admin_books_path, class: "ml-2 rounded-md px-3.5 py-2.5 bg-gray-100 hover:bg-gray-50 inline-block font-medium" %>
  <div class="inline-block ml-2">
    <%= button_to "Destroy this book", [:admin, @book], method: :delete, class: "mt-2 rounded-md px-3.5 py-2.5 text-white bg-red-600 hover:bg-red-500 font-medium" %>
  </div>
</div>
