<div id="<%= dom_id author %>" class="flex gap-x-4">
  <div class="p-4">
    <% if author.avatar.attached? %>
      <%= picture_tag(
        url_for(author.avatar),
        image: { class: "rounded-full mx-auto object-cover h-[120px] w-[120px]" }
      )%>
    <% end %>
  </div>
  <div>
    <p class="my-5">
      <strong class="block font-medium mb-1">Full name:</strong>
      <%= author.full_name %>
    </p>
    <p class="my-5">
      <strong class="block font-medium mb-1">Short bio:</strong>
      <%= author.short_bio %>
    </p>
    <p class="my-5">
      <strong class="block font-medium mb-1">Avatar:</strong>
      <%= link_to author.avatar.filename, author.avatar if author.avatar.attached? %>
    </p>
  </div>
</div>
