<div class="max-w-4xl mx-auto py-8 px-4 sm:px-6 lg:px-8">
  <div class="bg-white rounded-3xl shadow-md overflow-hidden p-6 sm:p-8">
    <div class="flex gap-x-4">
      <% if @book.avatar.attached? %>
        <div class="shrink-0">
          <%= picture_tag(
          url_for(@book.avatar),
          image: { class: "rounded-lg object-cover w-[200px] h-[280px] shadow-sm" }
        ) %>
        </div>
      <% end %>
      <div class="">
        <h1 class="text-3xl font-bold text-gray-900 mb-2"><%= @book.name %></h1>
        <p class="text-lg text-gray-600 mb-4">by 
          <%= link_to @book.author.full_name, author_path(@book.author), data: { turbo_frame: "_top" },
              class: "text-sm text-indigo-600 hover:text-indigo-800 hover:underline" %>
        </p>

        <% if @book.genre.present? %>
          <span class="inline-block bg-indigo-100 text-indigo-800 text-sm px-3 py-1 rounded-full mb-4">
            <%= link_to @book.genre.name, books_path(genre_id: @book.genre.id), data: { turbo_frame: "_top" },
                class: "text-sm text-indigo-600 hover:text-indigo-800 hover:underline" %>
          </span>
        <% end %>

        <% @book.tags.each do |tag| %>
          <%= render "tags/tag", tag: tag %>
        <% end %>

        <%= render "books/show/rating" %>

        <p class="text-gray-700 leading-relaxed mb-6">
          <%= simple_format(@book.description) %>
        </p>
      </div>
    </div>

    <div class="bg-gray-50 px-6 py-4 flex justify-between items-center">
      <%= link_to "â† Back to all books", root_path, class: "text-indigo-600 hover:underline font-medium" %>

      <% if @book.available? %>
        <%= button_to "Reserve", "#", method: :post,
              class: "inline-flex items-center bg-indigo-600 text-white px-4 py-2 rounded-xl shadow hover:bg-indigo-700" %>
      <% end %>
    </div>

    <% if @related_by_author.any? %>
      <%= link_to books_path(author_id: @book.author.id) do %>
        <h2 class="text-xl font-semibold mt-10 mb-3 hover:underline">More by <%= @book.author.full_name %></h2>
      <% end %>

      <div class="grid grid-cols-2 sm:grid-cols-4 gap-4">
        <%= render partial: "books/book_card", collection: @related_by_author, as: :book %>
      </div>
    <% end %>

    <% if @related_by_genre.any? %>
      <%= link_to books_path(genre_id: @book.genre.id) do %>
        <h2 class="text-xl font-semibold mt-10 mb-3 hover:underline">More in <%= @book.genre.name %></h2>
      <% end %>
      <div class="grid grid-cols-2 sm:grid-cols-4 gap-4">
        <%= render partial: "books/book_card", collection: @related_by_genre, as: :book %>
      </div>
    <% end %>

    <%= render "books/show/comments" %>
  </div>
</div>