<%= form_with model: [:admin, @user], data: { turbo: false }, class: "contents" do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-md mt-3">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul class="list-disc ml-6">
        <% @user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= f.label :full_name %>
    <%= f.text_field :full_name,
          class: ["block shadow rounded-md border outline-none px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": @user.errors[:full_name].none?, "border-red-400 focus:outline-red-600": @user.errors[:full_name].any?}] %>
  </div>

  <div class="my-5">
    <%= f.label :email %>
    <%= f.text_field :email,
          class: ["block shadow rounded-md border outline-none px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": @user.errors[:email].none?, "border-red-400 focus:outline-red-600": @user.errors[:email].any?}] %>
  </div>

  <div class="my-5">
    <%= f.label :role %>
    <%= f.select :role, User.roles.keys.map { |r| [r.titleize, r] }, { include_blank: false },
          class: ["block shadow rounded-md border outline-none px-3 py-2 mt-2 w-full bg-white", {"border-gray-400 focus:outline-blue-600": @user.errors[:role].none?, "border-red-400 focus:outline-red-600": @user.errors[:role].any?}] %>
  </div>

  <div class="my-5">
    <%= f.label :password %>
    <%= f.text_field :password,
          class: ["block shadow rounded-md border outline-none px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": @user.errors[:password].none?, "border-red-400 focus:outline-red-600": @user.errors[:password].any?}] %>
  </div>

  <div class="my-5">
    <%= f.label :password_confirmation %>
    <%= f.text_field :password_confirmation,
          class: ["block shadow rounded-md border outline-none px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": @user.errors[:password_confirmation].none?, "border-red-400 focus:outline-red-600": @user.errors[:password_confirmation].any?}] %>
  </div>

  <div class="inline">
    <%= f.submit "Save", class: "px-4 py-2 bg-indigo-600 text-white rounded-md hover:bg-indigo-700 cursor-pointer" %>
  </div>
<% end %>
